[unit]
Description=Run Sensor-am2330 every 2 minutes

[Timer]
OnBootSec=60
OnUnitActiveSec=120
AccuracySec=1s
Persistent=false

[Install]
WantedBy=timers.target